@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-size: 60px;
}
hr{
    height: 1px;
        background-color: #000000;
        border: none;
}
body{
    padding: 30px;
    font-size: 25px;

    width: 100vw;
    height: 100vh;background: linear-gradient(115deg, #ffd438bd, #ee2a7c8f, #6228d77e);
}
.checkbox {
    cursor: pointer;
    margin: 1rem auto;
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 25px;
    outline: none;
    background-color: #888888;
    appearance: none;
    transition: background .3s;
}
.numberIn{
    color: black;
    background: #ffffff96;
    /* height: 60px; */
    padding: 10px 0;
    width: 90px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 10px;
    display: none;
}
.checkbox::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    background-color: white;
    transition: left .3s;
}

.checkbox:checked {
    background-color: rgb(141, 221, 141);
}


.checkbox:checked::after {
    left: 70%;
}
.options-conainer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.options{
    position: relative;
    background-color: #ffffff82;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    border-radius: 10px;
}
.option-subContainer{
    display: flex;
    gap: 20px;
    align-items: center;
    width: fit-content;
}